.env
bookstack/db/
bookstack/app/
dashmachine/config/
filebrowser/config/
lychee/lychee/
npm/data/
npm/letsencrypt/
portainer/portainer-data/
webdav/appdata/
wikijs/config/
wikijs/data/
memos/memos/
freshrss/data/
prometheus/config/
trilium_notes/trilium-data/
